@{
    ViewData["Title"] = "Items";
}
<h2>@ViewData["Title"]</h2>


@* <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> *@
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/KOPracticeWithApi.styles.css" asp-append-version="true" />

<div class="container mt-5">
    <h2 class="mb-4">Add New Item</h2>
    <div class="form-row align-items-center">
        <div class="col-auto">
            <input type="text" class="form-control mb-2" placeholder="Item Name" data-bind="value: newItemName" />
        </div>
        <div class="col-auto">
            <input type="text" class="form-control mb-2" placeholder="Item Price" data-bind="value: newItemPrice" />
        </div>
        <div class="col-auto">
            <div class="form-check mb-2">
                <input type="checkbox" class="form-check-input" data-bind="checked: newItemIsPublished" />
                <label class="form-check-label">Published</label>
            </div>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary mb-2" data-bind="click: addItem">Add Item</button>
        </div>
    </div>

    <h2 class="mt-5 mb-4">Item List</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>IsPublished</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: items">
            <tr>
                <td class="m-4" data-bind="text: name"></td>
                <td data-bind="text: price"></td>
                <td data-bind="text: isPublished"></td>
                <td>
                    <button class="btn btn-outline-success btn-sm " data-bind="click: $parent.updateItem">Update</button>
                    <button class="btn btn-outline-danger btn-sm" data-bind="click: $parent.deleteItem">Delete</button>
                </td>


            </tr>
        </tbody>
    </table>

    <ul class="list-group" data-bind="foreach: items">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="input-group">
                <input type="text" class="form-control mr-2" data-bind="value: name" />
                <input type="text" class="form-control mr-2" data-bind="value: price" />
                <div class="form-check m-4">
                    <input type="checkbox" class="form-check-input" data-bind="checked: isPublished" />
                    <label class="form-check-label">Published</label>
                </div>
                
            </div>
        </li>
    </ul>

</div>

<!-- Include Bootstrap JS and dependencies (jQuery, Popper.js) -->
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <!-- Include jQuery (necessary for AJAX requests) -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <!-- Include Knockout.js -->
    <script src="~/js/knockout-3.5.1.js"></script>>

    <!-- Include your custom JavaScript files -->
    <script src="~/js/VM/ItemModel.js"></script>
    <script src="~/js/VM/ItemController.js"></script>

    <script>
        $(document).ready(function () {
            var controller = new ItemController();
            controller.fetchItems();
            ko.applyBindings(controller);
        });
    </script>
}
