html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#successMessageArea {
    background-color: forestgreen;
    color : white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    min-width: 200px;
    z-index: 1000;
}
#failMessageArea {
    background-color: red;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    min-width: 200px;
    z-index: 1000;
}

    #messageArea.show {
        display: block;
        transition: opacity 0.3s ease-in-out;
    }
